html
	head
		title= "it's a door -- use it!"

		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")

		script(src="/js/gifHelper.js")
		
		script(src="/js/canvas.js")
		script(src="/js/draw.js")

		link(rel="stylesheet", href="/css/bulma.css")
		link(rel="stylesheet", href="/css/styles.css")
		//link(rel="stylesheet", href="/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")

	body

		//
		// Start MODAL section
		//

		.modal#usernameSelectModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Enter a username"
				.modal-card-body
					.field.has-addons
						.control.is-expanded
							input.input#username(type="text", placeholder="Username", value="an_idiot")
						.control
							a.button.is-info#submitUsername= "Join"
				.modal-card-foot
					p= "Username must be at least one character long and contain no spaces"

		.modal#imageDrawingModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Watching: some idiot"
				.modal-card-body
					canvas.canvas#imagePlaybackCanvas(width=500, height=600)

					.buttonGroup#votingButtons
						button.button.is-success(data-action="upvote")
							span= "Great!"
							span.icon.is-small
								i.fa.fa-thumbs-up
						button.button.is-warning(data-action="downvote")
							span= "Shit!"
							span.icon.is-small
								i.fa.fa-thumbs-down
						button.button.is-info(data-action="funny")
							span= "lol"
							span.icon.is-small
								i.fa.fa-grin-squint-tears

						button.button.is-link.is-outlined#exportToGif
							span= "Export to WebM"
							span.icon.is-small
								i.fas.fa-download

		.modal#roomSelectionModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Lobby"
				
				.modal-card-body
					.columns.is-1
						.column
							.field
								.control.has-icons-right
									input.input#searchBox(placeholder="Search...")
									span.icon.is-small.is-right
										i.fas.fa-search
						.column.is-3(style="text-align: right")
							button.button.is-info#newRoomButton
								span.icon.is-small
									i.fas.fa-plus
								span= "New room"
					
					#roomList
						.level
							.level-left
								.level-item
									p= "Room name blep"
							.level-right
								.level-item
									p= "4 players"
				
				.modal-card-foot
					button.button#refreshRoomList= "Refresh list"

		.modal#createRoomModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Enter the room name"
				
				.modal-card-body
					.field.has-addons
						.control.is-expanded
							input.input#roomNameInput(type="text", placeholder="Room name")
						.control
							a.button.is-info#submitRoomName= "Create"

				.modal-card-foot
					p= "Room name must be at least one character long"

		//
		// End MODAL section
		//


		//
		// Gameplay section
		//
		.columns
			.column#canvasOutlet
				canvas.canvas#drawCanvas(width=500, height=500)
				br
				p.field#canvasButtons
					button.button#penDefault
						span.icon
							i.fas.fa-pencil-alt
						span= "Pen"

					button.button#penEraser
						span.icon
							i.fa.fa-eraser
						span= "Eraser"

					button.button.is-warning#undo(onclick="UndoStroke();")
						span.icon
							i.fa.fa-undo
						span= "Undo"

					button.button.is-info#submit
						span.icon
							i.fa.fa-paper-plane
						span= "Submit image"

			.column
				nav.panel
					p.panel-heading= "Players in room"
					#userOutlet
				
				nav.panel
					p.panel-heading#prompt= "Retreiving prompt..."
					#roundHistoryOutlet
				
				//button.button.is-success#resetRoundButton= "Reset round"
				button.button.is-success#leaveRoomButton= "Leave room"