html
	head
		title= "it's a door -- use it!"

		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")
		script(src="/js/canvas.js")
		script(src="/js/draw.js")

		link(rel="stylesheet", href="/css/bulma.css")
		link(rel="stylesheet", href="/css/styles.css")
		link(rel="stylesheet", href="/css/font-awesome.min.css")

	body
		.modal#usernameSelectModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Enter a username"
				.modal-card-body
					.field.has-addons
						.control.is-expanded
							input.input#username(type="text", placeholder="Username")
						.control
							a.button.is-info#submitUsername= "Join"

		.columns
			.column#canvasOutlet
				canvas.canvas#drawCanvas(width=500, height=500)
				br
				p.field#canvasButtons
					button.button#penDefault
						span.icon
							i.fa.fa-pencil
						span= "Pen"

					button.button#penEraser
						span.icon
							i.fa.fa-eraser
						span= "Eraser"

					button.button.is-warning#undo(onclick="UndoStroke();")
						span.icon
							i.fa.fa-undo
						span= "Undo"

					button.button.is-info#submit
						span.icon
							i.fa.fa-paper-plane
						span= "Submit image"

			.column
				nav.panel#userOutlet
					p.panel-heading= "Players in room"
				
				button.button.is-success#resetRoundButton= "Reset round"