html
	head
		title= "it's a door -- use it!"

		script(src="/socket.io/socket.io.js")
		script(src="/js/jquery.min.js")

		script(src="/js/gifHelper.js")
		
		script(src="/js/canvas.js")
		script(src="/js/draw.js")

		link(rel="stylesheet", href="/css/bulma.css")
		link(rel="stylesheet", href="/css/styles.css")
		//link(rel="stylesheet", href="/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")

	body
		.modal#usernameSelectModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Enter a username"
				.modal-card-body
					.field.has-addons
						.control.is-expanded
							input.input#username(type="text", placeholder="Username", value="an_idiot")
						.control
							a.button.is-info#submitUsername= "Join"

		.modal#imageDrawingModal
			.modal-background
			.modal-card
				.modal-card-head
					p.modal-card-title= "Watching: some idiot"
				.modal-card-body
					canvas.canvas#imagePlaybackCanvas(width=500, height=500)

					.buttonGroup#votingButtons
						button.button.is-success(data-action="upvote")
							span= "Great!"
							span.icon.is-small
								i.fa.fa-thumbs-up
						button.button.is-warning(data-action="downvote")
							span= "Shit!"
							span.icon.is-small
								i.fa.fa-thumbs-down
						button.button.is-info(data-action="funny")
							span= "lol"
							span.icon.is-small
								i.fa.fa-grin-squint-tears

						button.button.is-link.is-outlined#exportToGif
							span= "Export to WebM"
							span.icon.is-small
								i.fas.fa-download


		.columns
			.column#canvasOutlet
				canvas.canvas#drawCanvas(width=500, height=500)
				br
				p.field#canvasButtons
					button.button#penDefault
						span.icon
							i.fas.fa-pencil-alt
						span= "Pen"

					button.button#penEraser
						span.icon
							i.fa.fa-eraser
						span= "Eraser"

					button.button.is-warning#undo(onclick="UndoStroke();")
						span.icon
							i.fa.fa-undo
						span= "Undo"

					button.button.is-info#submit
						span.icon
							i.fa.fa-paper-plane
						span= "Submit image"

			.column
				nav.panel#userOutlet
					p.panel-heading= "Players in room"
				
				button.button.is-success#resetRoundButton= "Reset round"